# Virtual environment directories
env/
venv/
.venv/

# Distribution files
dist/
build/

# Config files and sensitive information
*+.env
.env.*
settings.py

# Data
training_data.json
*.txt

#model
chat_model
friend_chat_model
llama.cpp/
lora_model/
merged_model/
model/
outputs/
temp/