# Virtual environment directories
env/
venv/
.venv/

# Distribution files
dist/
build/

# Config files and sensitive information
*.env
.env.*
settings.py

# Data
training_data.json
*.txt

#model
chat_model